data
results
results_g3_1000
results_g11_1000
results_g11_1200
results_g11_1600
backup_toolboxes
labbook
code/toolboxes/backup_spm12_functions
code/toolboxes/backup_tapas_functions
napls_bp_results_g3_600
napls_bp_results_g3_1000
napls_bp_results_g6_600
napls_bp_results_g6_1000
napls_bp_results_g10_600
napls_bp_results_g11_600
napls_bp_results_g11_1000
napls_bp_results_g10_1000